[submodule "perks"]
	path=vendor/github.com/beorn7/perks
	url=git://github.com/beorn7/perks.git
[submodule "go-spew"]
	path=vendor/github.com/davecgh/go-spew
	url=git://github.com/davecgh/go-spew.git
[submodule "yaml"]
	path=vendor/github.com/ghodss/yaml
	url=git://github.com/ghodss/yaml.git
[submodule "glog"]
	path=vendor/github.com/golang/glog
	url=git://github.com/golang/glog.git
[submodule "protobuf"]
	path=vendor/github.com/golang/protobuf
	url=git://github.com/golang/protobuf.git
[submodule "cadvisor"]
	path=vendor/github.com/google/cadvisor
	url=git://github.com/google/cadvisor.git
[submodule "gofuzz"]
	path=vendor/github.com/google/gofuzz
	url=git://github.com/google/gofuzz.git
[submodule "ratelimit"]
	path=vendor/github.com/juju/ratelimit
	url=git://github.com/juju/ratelimit.git
[submodule "golang_protobuf_extensions"]
	path=vendor/github.com/matttproud/golang_protobuf_extensions
	url=git://github.com/matttproud/golang_protobuf_extensions.git
[submodule "client_golang"]
	path=vendor/github.com/prometheus/client_golang
	url=git://github.com/prometheus/client_golang.git
[submodule "client_model"]
	path=vendor/github.com/prometheus/client_model
	url=git://github.com/prometheus/client_model.git
[submodule "common"]
	path=vendor/github.com/prometheus/common
	url=git://github.com/prometheus/common.git
[submodule "procfs"]
	path=vendor/github.com/prometheus/procfs
	url=git://github.com/prometheus/procfs.git
[submodule "pflag"]
	path=vendor/github.com/spf13/pflag
	url=git://github.com/spf13/pflag.git
[submodule "go"]
	path=vendor/github.com/ugorji/go
	url=git://github.com/ugorji/go.git
[submodule "crypto"]
	path=vendor/golang.org/x/crypto
	url=https://github.com/golang/crypto.git
[submodule "net"]
	path=vendor/golang.org/x/net
	url=https://github.com/golang/net.git
[submodule "exp"]
	path=vendor/speter.net/go/exp/math/dec/inf
	url=https://code.google.com/p/go-decimal-inf.exp
[submodule "kubernetes"]
    path=vendor/k8s.io/kubernetes
    url=https://github.com/kubernetes/kubernetes.git
